<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="/assets/img-01.png" alt="IMG">
      </div>
      <div class="login100-form validate-form">
        <div class="container-login100-form-btn">
          <button (click)="login()" class="login100-form-btn">
            Login
          </button>
        </div>
        <div class="container-login100-form-btn">
          <button (click)="signUp()" class="login100-form-btn">
            SignUp
          </button>
        </div>
      </div>
    </div>
  </div>
</div>