<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="form-v9">
        <div class="page-content">
          <div class="form-v9-content">
            <form class="form-detail">
              <h2>Buy List</h2>
              <div class="container-fluids">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Product Id</th>
                      <th>Product Name</th>
                      <th>Category</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Bottle</td>
                      <td>Family Plastics</td>
                      <td>1001</td>
                      <td><button>Buy</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
    <!-- </div> -->
  </div>
</div>